#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&none          &none          &none      &mmv MOVE_LEFT  &mmv MOVE_RIGHT  &mkp LCLK  &tog 1                                                        &mo 3      &mkp RCLK  &mmv MOVE_UP  &mmv MOVE_DOWN  &none  &none  &none
&kp TAB        &kp SQT        &kp COMMA  &kp PERIOD      &kp P            &kp Y      &none                                                         &none      &kp F      &kp G         &kp C           &kp R  &kp L  &kp SLASH
&kp ENTER      &kp A          &kp O      &kp E           &kp U            &kp I      &none      &kp LGUI  &kp LALT        &kp RALT       &kp RGUI  &none      &kp D      &kp H         &kp T           &kp N  &kp S  &kp MINUS
&kp BACKSPACE  &kp SEMICOLON  &kp Q      &kp J           &kp K            &kp X                           &kp LCTRL       &kp RCTRL                           &kp B      &kp M         &kp W           &kp V  &kp Z  &kp DELETE
&mo 2          &none          &none      &kp LEFT        &kp RIGHT                   &kp SPACE  &mo 4     &kp ESCAPE      &kp LC(SPACE)  &mo 5     &kp SPACE             &kp UP        &kp DOWN        &none  &none  &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        layer_4 {
            display-name = "Base";
            bindings = <
&none              &none         &none         &none             &none          &none      &tog 1                                                                         &mo 3          &none      &none       &none         &none      &none      &none
&kp LS(TAB)        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4   &kp N5     &none                                                                          &none          &kp LS(F)  &kp LS(G)   &kp LS(C)     &kp LS(R)  &kp LS(L)  &kp LS(SLASH)
&kp LS(ENTER)      &kp PLUS      &kp LBRC      &kp LEFT_BRACKET  &kp LPAR       &kp ASTRK  &none          &kp LS(LGUI)  &kp LS(LALT)        &kp LS(RALT)   &kp LS(RGUI)   &none          &kp LS(D)  &kp LS(H)   &kp LS(T)     &kp LS(N)  &kp LS(S)  &kp LS(MINUS)
&kp LS(BACKSPACE)  &kp TILDE     &kp DOLLAR    &kp AMPS          &kp PERCENT    &none                                   &kp LS(LCTRL)       &kp LS(RCTRL)                                &kp LS(B)  &kp LS(M)   &kp LS(W)     &kp LS(V)  &kp LS(Z)  &kp LS(DELETE)
&mo 2              &none         &none         &kp LS(LEFT)      &kp LS(RIGHT)             &kp LS(SPACE)  &none         &kp LS(ESCAPE)      &kp LC(SPACE)  &kp LS(RSHFT)  &kp LS(SPACE)             &kp LS(UP)  &kp LS(DOWN)  &none      &none      &mo 2
            >;
        };

        layer_5 {
            display-name = "Base";
            bindings = <
&none              &none                 &none          &none             &none          &none      &tog 1                                                                         &mo 3          &none         &none       &none          &none     &none      &none
&kp RS(TAB)        &kp RS(SINGLE_QUOTE)  &kp LESS_THAN  &kp GREATER_THAN  &kp RS(P)      &kp RS(Y)  &none                                                                          &none          &kp NUMBER_6  &kp N7      &kp N8         &kp N9    &kp N0     &none
&kp RS(ENTER)      &kp RS(A)             &kp RS(O)      &kp RS(E)         &kp RS(U)      &kp RS(I)  &none          &kp RS(LGUI)   &kp RS(LALT)        &kp RS(RALT)   &kp RS(RGUI)  &none          &kp PIPE      &kp RPAR    &kp RBKT       &kp RBRC  &kp EQUAL  &kp EXCL
&kp RS(BACKSPACE)  &kp RS(SEMICOLON)     &kp RS(Q)      &kp RS(J)         &kp RS(K)      &kp RS(X)                                &kp RS(LCTRL)       &kp RS(RCTRL)                               &kp CARET     &kp HASH    &kp BACKSLASH  &kp AT    &kp GRAVE  &kp RS(DELETE)
&mo 2              &none                 &none          &kp RS(LEFT)      &kp RS(RIGHT)             &kp RS(SPACE)  &kp RS(LSHFT)  &kp RS(ESCAPE)      &kp LC(SPACE)  &none         &kp RS(SPACE)                &kp RS(UP)  &kp RS(DOWN)   &none     &none      &mo 2
            >;
        };
    };
};
